<!DOCTYPE html>
<html ng-app="tourcityapp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@ViewData["Title"] - TourCity</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- SCRIPTS -->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/content/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/content/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/content/css/style.css" />
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>


<body class="clearfix">
    <div class="main" ng-view>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/content/js/underscore-min.js"></script>
        <script src="~/content/js/backbone-min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


        @RenderBody()
    </div>

    <!-- SCRIPTS -->
    
</body>

</html>

