@{ Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <header class="header-main clearfix">
        <div class="left-bar">

            <div class="side-menu">
                <a href="#" class="hb-link"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <div class="hb-menu">
                    <ul>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                    </ul>
                </div>
            </div>

            <div class="logo">
                <a href="#"><strong>tour</strong>City</a>
            </div>

        </div>

        <div class="right-bar">
            <div class="ua-menu">
                <a href="#" class="ua-link"></a>
            </div>
        </div>
    </header>

    <div class="space-room">
        <div class="space clearfix">
            <div class="ls">
                <div class="badge">
                    <div class="dp">
                        <img src="~/content/images/space/restaurants/1.png" alt="" />
                    </div>
                    <h3>Barneys Burger<br /><span class="tag">(Kiosk)</span><i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                    <address><i class="fa fa-map-marker" aria-hidden="true"></i> Guagua, Pampanga </address>
                </div>
                <div class="s-menu">
                    <ul>
                        <li class="active"><a href="#">Welcome</a></li>
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Map & Directions</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                    </ul>
                </div>
            </div>

            <div class="s-sections">
                <div class="section-box welcome">
                    <div class="banner-screen">
                        <div class="banner"></div>
                    </div>
                    <div class="social-bar clearfix">
                        <div class="recommend">
                            <a href="#" class="recommend-button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Recommend</a>
                            <span class="recommend-count">1,500 recommendations</span>
                        </div>
                        <div class="social-links">
                            <ul>
                                <li class="facebook"><a href="#" title="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li class="twitter"><a href="#" title="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li class="youtube"><a href="#" title="youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                <li class="instagram"><a href="#" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li class="google"><a href="#" title="google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="welcome-room" id="space-welcome">
                        <div id="display-content">
                          
                        </div>
                      
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

<script id="welcome-display" type="text/template">
    <a href="javascript:void(0)" class="edit-link edit-space-title-description" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <div class="live-content" id="welcome-display">
        <h5><%= title %></h5>
        <p><%= description %></p>
    </div>
</script>
<script id="welcome-editor" type="text/template">
    <div class="edit-content" id="welcome-edit">
        <div class="ec-inner">
            <label>Title</label>
            <input type="text" />
            <label>Description</label>
            <textarea></textarea>
            <div class="commands">
                <a href="javascript:void(0)" class="button-general button-epic edit-space-title-description-save">Save</a>
                <a href="javascript:void(0)" class="button-general button-normal edit-space-title-description-close">Cancel</a>
            </div>
        </div>
        </div>
</script>

<script src="~/content/js/space/welcome_model.js"></script>
<script src="~/content/js/space/welcome_view.js"></script>
<script src="~/content/js/space/welcome_app.js"></script>



<script id="space-info-editor" type="text/template">
    <div class="section-box info">
        <div class="sb-header">
            <h4>Info</h4>
        </div>
        <div class="sb-body">
            <div class="fields">

                <!-- General / Address -->
                <div class="field-room">
                    <div class="live-content">
                        <div class="field clearfix">
                            <label>Address</label>
                            <p>Santa Barbara Bridge, Bacolor, Pampanga</p>
                            <div class="command-edit">
                                <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-content">
                        <label>Address</label>
                        <textarea></textarea>
                        <div class="commands">
                            <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                            <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- General / Phone -->
                <div class="field-room">
                    <div class="live-content">
                        <div class="field clearfix">
                            <label>Phone</label>
                            <p>(045) 971 2312</p>
                            <div class="command-edit">
                                <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-content">
                        <label>Phone</label>
                        <input type="text" />
                        <div class="commands">
                            <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                            <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- General / Email -->
                <div class="field-room">
                    <div class="live-content">
                        <div class="field clearfix">
                            <label>Email</label>
                            <p>(045) 971 2312</p>
                            <div class="command-edit">
                                <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-content">
                        <label>Email</label>
                        <input type="text" />
                        <div class="commands">
                            <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                            <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- General / Website -->
                <div class="field-room">
                    <div class="live-content">
                        <div class="field clearfix">
                            <label>Website</label>
                            <p><a href="#">http://www.apagmarangle.com</a></p>
                            <div class="command-edit">
                                <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-content">
                        <label>Website</label>
                        <input type="text" />
                        <div class="commands">
                            <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                            <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- Restaurant / Cuisine -->
                <div class="field-room">
                    <div class="live-content">
                        <div class="field clearfix">
                            <label>Cuisine</label>
                            <p>
                                Asian Fusion, Chinese, Filipino, Italian, Japanese, Korean, Seafood, Singaporean, Sushi Bars, Taiwanese, Thai and Vietnamese
                            </p>
                            <div class="command-edit">
                                <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-content">
                        <label>Cuisine</label>
                        <textarea></textarea>
                        <div class="commands">
                            <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                            <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                        </div>
                    </div>
                </div>

                <!-- General / Other Services -->
                <div class="field-room">
                    <div class="live-content">
                        <div class="field clearfix">
                            <label>Other Services</label>
                            <p>Function Hall, Birthday Parites, Weddings</p>
                            <div class="command-edit">
                                <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="edit-content">
                        <label>Other Services</label>
                        <textarea></textarea>
                        <div class="commands">
                            <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                            <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>