<div class="section-box info">
    <div class="sb-header">
        <h4>Info</h4>
    </div>
    <div class="sb-body">
        <div class="fields">

            <!-- General / Address -->
            <div class="field-room">
                <div class="live-content">
                    <div class="field clearfix">
                        <label>Address</label>
                        <p>Santa Barbara Bridge, Bacolor, Pampanga</p>
                        <div class="command-edit">
                            <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <label>Address</label>
                    <textarea></textarea>
                    <div class="commands">
                        <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                        <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- General / Phone -->
            <div class="field-room">
                <div class="live-content">
                    <div class="field clearfix">
                        <label>Phone</label>
                        <p>(045) 971 2312</p>
                        <div class="command-edit">
                            <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <label>Phone</label>
                    <input type="text" />
                    <div class="commands">
                        <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                        <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- General / Email -->
            <div class="field-room">
                <div class="live-content">
                    <div class="field clearfix">
                        <label>Email</label>
                        <p>(045) 971 2312</p>
                        <div class="command-edit">
                            <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <label>Email</label>
                    <input type="text" />
                    <div class="commands">
                        <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                        <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- General / Website -->
            <div class="field-room">
                <div class="live-content">
                    <div class="field clearfix">
                        <label>Website</label>
                        <p><a href="#">http://www.apagmarangle.com</a></p>
                        <div class="command-edit">
                            <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <label>Website</label>
                    <input type="text" />
                    <div class="commands">
                        <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                        <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- Restaurant / Cuisine -->
            <div class="field-room">
                <div class="live-content">
                    <div class="field clearfix">
                        <label>Cuisine</label>
                        <p>
                            Asian Fusion, Chinese, Filipino, Italian, Japanese, Korean, Seafood, Singaporean, Sushi Bars, Taiwanese, Thai and Vietnamese
                        </p>
                        <div class="command-edit">
                            <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <label>Cuisine</label>
                    <textarea></textarea>
                    <div class="commands">
                        <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                        <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                    </div>
                </div>
            </div>

            <!-- General / Other Services -->
            <div class="field-room">
                <div class="live-content">
                    <div class="field clearfix">
                        <label>Other Services</label>
                        <p>Function Hall, Birthday Parites, Weddings</p>
                        <div class="command-edit">
                            <a href="javascript:void(0)" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <label>Other Services</label>
                    <textarea></textarea>
                    <div class="commands">
                        <a href="javascript:void(0)" class="button-general button-epic" ng-click="">Save</a>
                        <a href="javascript:void(0)" class="button-general button-normal" ng-click="">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>